.memory-board {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.card {
    width: 225px;
    height: 319px;
    margin: 10px;
    background: url('../images/achterkant.jpg') no-repeat;
    background-size: cover;
    cursor: pointer;
}

.card img {
    display: none;
}

.card.gekozenkaart img {
    display: block;
}

.card.correct {
    border: 3px solid green;
}

.card.incorrect {
    border: 3px solid red;
}
