.container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    background-color: green;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: 1/6;
    grid-row: 1/2;
 }
.block.block2{

}
.block.block3{

}
.block.block4{

}
.block.block5{

}
.block.block6{

}
.block.block7{

}
.block.block8{

}
