.container{
    background-color: cornflowerblue;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    display: grid;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}